%h1 Analytical Comparison of Options
- content_for(:title, "Comparison")

-# content_for :javascript_includes do
  =# javascript_include_tag "chart.js"

%p
  Data is currently wrong! Draw no conclusions from this chart
  $$ \int_a^b c $$

%div#chart

%div#map

:css
  path {
    stroke-width: 2px;
    stroke: rgb(200,0,0);
  }

  .point {
   fill: rgb(51, 156, 255);
   stroke-width:2px;
  }

%script{:language => "JavaScript"}
  = raw render :partial => "chart.js"

%p We want to show a simple plot of altitude, airspeed and persistence

%p I would also like to time available for each asset as a function of distance to target. I would like this to read from the database

%p I would also like to add the ability for a system to have_many :capabilities



