%h1 Analytical Comparison of Options
- content_for(:title, "Comparison")

-# content_for :javascript_includes do
  =# javascript_include_tag "chart.js"

%p Data is currently wrong! Draw no conclusions from this chart

%div#chart

= render :partial => "chart"

