- content_for(:title, "The Value of High Endurance Unmanned Aerial Systems")

%h3 Statement of Study

\[
\int_a^b {f(x)}
\]

%p
  We want to understand what role high endurance UASs (HEUASs) should have in our ISR
  force. Specifically, we will answer, in order:
  %ul
    %li What are the differences between systems (performance and cost)?
    %li What is the business case with HEUASs inserted into the baseline and how do the various platform options compare?
    %li What force structure changes would be recommended from a consideration of HEUAS contributions 

%h3 Hypothesis

%p
  Our current ISR fleet could be more effective and realize cost efficiencies by a platform that can take off from a diverse array of bases, travel quickly to its intended destination, can operate at the right altitude and remain there as long as possible.

%h3 Key Interactions

%p
  Focused on thrust specific fuel consumption, we want to look at the endurance
  of the various platforms,
  %ul
    %li Endurance
    %li Speed
    %li Altitude
    %li Cost
    %li Payload (product of SWAP, ft^3, lb, KVA)

%h3 Current Focus

%ul
  %li
    Figure out what major categories the systems fit into
    %ol
      %li What are the major interactions that define system performance? For example, is there a group of high cost systems with high performance. How is performance measured? What major categories are there?
      %li What are the costs of the various systems?
  %li
    What benefits accrue with endurance?
    %div
      For example:
      %ul
        %li at 4 hours you need more bandwidth, more ground crews and you have the risk of losing tracks, etc
        %li at 4 days you can now base from much wider locations, you can afford to loiter in locations where you might have had focused reconaissance before
        %li at 4 weeks and moderate speed, basing is now irrevalent
        %li at 4 years, ground support crews for recovery is irrevalent

  %li
    What is the fundamental business case?

%p
  I need to explore the math of endurance.
  %ul
    %li
      = link_to "MIT notes", "http://ocw.mit.edu/ans7870/16/16.unified/propulsionS04/UnifiedPropulsion4/UnifiedPropulsion4.htm"
    %li
      = link_to "NASA calculations", "http://www.grc.nasa.gov/WWW/K-12/airplane/ngnsimr.html"

%h3 Study Team
%ul
  %li Tim Booher
  %li Brian Rose
  %li Natasha Tickner

%h3 Method
%p
  This is currently in work, but we are hoping to get at a simple description between systems using a framework such as d3.js to explore the trade space before starting models.

%p
  All data will be unclassified and intended at understanding interactions between systems. At some point, we will have to lock this site down as we bring in propritary information and then migrate our work elsewhere as we apply these technologies to specific scenarios.

%p
  You can do something cool, like
  = link_to "Add a system", new_system_path
