%h3 Home
- @users.each do |user|
  %p User: #{link_to user.name, user}

%h3 Study Objectives

%p
  Understand the value of endurance for ISR engagements

%p
  All data will be unclassified and intended at understanding interactions between systems.

%p
  You can do something cool, like
  = link_to "Add a system", new_system_path
