- content_for(:title, "The Value of High Endurance Unmanned Aerial Systems")

%h3 Statement of Study

%p
  We want to understand what role high endurance UASs (HEUASs) should have in our ISR
  force. Specifically, we will answer, in order:
  %ul
    %li What are the differences between systems (performance and cost)?
    %li What is the business case from a platform to platform comparison?
    %li What force structure changes would be recommended from a consideration of HEUAS contributions 

%h3
  Hypothesis
  %p
    Our current ISR fleet could be more effective and realize cost efficiencies by a platform that can take off from a diverse array of bases, travel quickly to its intended destination, can operate at the right altitude and remain there as long as possible.

%h3 Key Interactions

%h3
  Study Team
  %ul
    %li Tim Booher
    %li Brian Rose
    %li Natasha Tickner

%p
  The goal of the analysis.

%p
  All data will be unclassified and intended at understanding interactions between systems.

%p
  You can do something cool, like
  = link_to "Add a system", new_system_path
